<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="/home/insomnia/sonic/src/main/java/com/hillel/gucul/vitaly/html/test.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="image"></div>
<div class="mybutton">button</div>

<div class="container">
    <div class="row">
        <div class="testimg col-md-offset-2">
        <div class="col-md-3">
            <img src="bg2-img.jpg" class="img-responsive">

        </div>
        <div class="col-md-3">
            <img src="bg2-img.jpg" class="img-responsive">
        </div>
        <div class="col-md-3">
            <img src="bg2-img.jpg" class="img-responsive">
        </div>
        <div class="col-md-3">
            <img src="bg2-img.jpg" class="img-responsive">
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="forma">
            <div class="wrapper">
                <div class="title-text">How to create impactful dashboards</div>
                <div class="firstname">First Name</div>
                <input type="text" name="name" placeholder="your name">
                <div class="lastname">Last Name</div>
                <input type="text" name="last name" placeholder="last name">
                <div class="lastname">Buisines email</div>
            <input type="text" name="Buisines email" placeholder="Buisines email">
            <div class="lastname">Job Title</div>
        <input type="text" name="Job Title" placeholder="Job Title">

                <div class="company">
                    Company Site
                </div>

                <select class="select">
                    <option value="volvo">-Please select</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>


            </div>
            <div class="buttonsub">sss</div>




        </div>

    </div>

</div>

</body>
</html>