<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<p>Paragraph content.</p>
<form>
    <fieldset >
        <legend>Contact Form</legend>
        <p>Name: <input type="text" size="30" placeholder="Your Name"></p>
        <p>Email: <input type="text" size="30" placeholder="Your Email"></p>
        <p>Sybject: <input type="text" size="30"></p>
        <p>Message: <textarea> Type your message here</textarea></p>
        <p><input type="submit"></p>
    </fieldset>
</form>
<p>Additional paragraph content</p>




</body>
</html>