<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<h1> Hello World! </h1>
<h3> Test</h3>
<h6>Test</h6>
<p> This is a test page</p>
<img src="logo-adidas.jpg" style="width: 320px" height="450px">

<h2>Section Title</h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio illo non, perspiciatis repellat unde voluptate! Animi ducimus eius facere id iusto maxime mollitia qui repudiandae, sapiente, sint ut voluptates.

<h3>Sub section</h3>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quasi.

<p>Heres how to define</p>
<div>
    <i>This Text is Itallic</i>
</div>
<div><b>and this is bold </b>

</div>

<a href="https://www.google.com.ua">Click</a>

<a href="logo-adidas.jpg" download> Download this picture</a>

<p> Unordered list items:</p>
<ul>
    <li>Arranged in any order</li>
    <li>Wil still make sense</li>
</ul>

<p> You can use numbers as the list item marker for an unordered list by using some simple CSS:</p>
<ul class="numbered">

    <li>This is an item</li>
    <li>This is an item</li>
    <li>This is an item</li>

</ul>
<style>
    .numbered {
        list-style-type: decimal;
        color: blue;

    }

    .numbered:hover{
        color: red;
        transition: width 2s;
    }
</style>

<ol>
    <li>Fisrt</li>
    <li>Fisrt</li>
    <li>Fisrt</li>
</ol>

<ul>
    <li>Things I want my son to know
        <ul>
            <li>Intangibles
                <ul>
                    <li>Love</li>
                    <li>Security</li>
                    <li>Happiness</li>
                </ul>
            </li>
            <li>Tangibles
                <ul>
                    <li>Colors
                        <ul>
                            <li>Red</li>
                            <li>Blue</li>
                            <li>Green</li>
                            <li>Purple</li>
                            <li>Orange</li>
                            <li>Yellow</li>
                        </ul>
                    </li>
                    <li>Numbers</li>
                    <li>Letters</li>
                    <li>Table Manners</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>
    This is above line
</p>
<hr>
<p>
    This is above line
</p>

</body>
</html>